.search-input{
  border-radius: 10px;
  width: 262px;
  height: 35px;
}

.search-bar {
  text-align: center;
}

/* App.css */
.image-gallery {
  display: flex;
  flex-wrap: wrap;        /* Allows wrapping of items to new rows */
  gap: 20px;              /* Space between items */
  justify-content: center; /* Optional: centers the items horizontally */
}

.image-item {
  width: calc(25% - 20px); /* Ensures each item takes up 1/4 of the row, minus the gap */
  box-sizing: border-box;  /* Ensures padding and margin don't affect the width */
}

.image-item img {
  width: 100%;  /* Ensure the image fits the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: style the images */
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.canvas-container {
  margin-top: 20px;
}

.canvas-toolbar {
  margin-bottom: 10px;
}

canvas {
  border: 1px solid #000;
}
